<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title>Projeto CAKE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
<!--   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" /> -->  
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
     <link rel="stylesheet" th:href="@{/css/range.css}" />
    <link rel="stylesheet" th:href="@{/css/star-rating.min.css}" />
     <link rel="stylesheet" th:href="@{/css/itens.css}" />
    <link rel="stylesheet" th:href="@{/themes/krajee-fa/theme.min.css}" />
    <!-- baixar content -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
    
    
</head>
<body>
  
<nav class="navbar navbar-expand-md navbar-light  mb-4" style="background-color: #e3f2fd;">
    <a class="navbar-brand" th:href="@{/}">Cake</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        
        <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/bolo') ? 'active':''}">
                <a class="nav-link" th:href="@{/bolo}">bolo </a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/cobertura') ? 'active':''}">
                <a class="nav-link" th:href="@{/cobertura}">cobertura </a>
            </li>
            
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/massa') ? 'active':''}">
                <a class="nav-link" th:href="@{/massa}">massa</a>
            </li>
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/sabor') ? 'active':''}">
                <a class="nav-link" th:href="@{/sabor}">sabor</a>
            </li>
            
            <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/tema') ? 'active':''}">
                <a class="nav-link" th:href="@{/tema}">tema</a>
            </li>
            
             <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/voto') ? 'active':''}">
                <a class="nav-link" th:href="@{/voto}">voto</a>
            </li>
              <li class="nav-item" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/encomenda') ? 'active':''}">
                <a class="nav-link" th:href="@{/encomenda}">encomenda</a>
            </li>
  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mais
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        	<a class="dropdown-item" th:href="@{/login}" >Logar</a>
          <a class="dropdown-item" th:href="@{/registration}" >Cadastre-se</a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Sobre nos</a>
        </div>
      </li>
           

            
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li>
						<span style="color:BLANK ;font-size: 15pt" th:utext="${userName}"></span>
					</li>	 
						<li class="nav-item"  th:classappend="${#httpServletRequest.getRequestURI().startsWith('/login') ? 'active':''}">
                		<div sec:authorize="hasRole('ROLE_ANONYMOUS')">
                		<button class="btn btn-outline-success my-2 my-sm-0"  data-toggle="modal" data-target="#loginModal">login</button>
                		</div>
            </li>
            <li class="nav-item"  th:classappend="${#httpServletRequest.getRequestURI().startsWith('/login') ? 'active':''}">
                		<div sec:authorize="hasRole('ROLE_ANONYMOUS')">
            <a class="btn btn-outline-primary my-2 my-sm-0"  th:href="@{/registration}" >Registre-se</a>
           </div>
            </li>
            <li class="nav-item"  th:classappend="${#httpServletRequest.getRequestURI().startsWith('/') ? 'active':''}">
            <div sec:authorize="!hasRole('ROLE_ANONYMOUS')" >
         
	<a th:href="@{/logout}" class="btn btn-outline-danger my-2 my-sm-0" >Sign Out</a>
            </div>
            </li>
						
					</ul>

    </div>
</nav>

<div class="container">
    <div layout:fragment="content"></div>
</div>
<script th:src="@{/js/jquery-3.2.1.min.js}"  type="text/javascript"></script>
<script th:src="@{/js/range.js}"  type="text/javascript"></script>
<script th:src="@{/js/star-rating.min.js}"  type="text/javascript"></script>
<script th:src="@{/themes/krajee-fa/theme.min.js}" type="text/javascript"></script>
<script th:src="@{/js/locales/pt-BR.js}"  type="text/javascript"></script>
<script type="text/javascript">
     $(function() {
      $('.kv-ltr-theme-fa-star').rating({
            hoverOnClear: false,
            theme: 'krajee-fa',
            step: 1,
            language: 'pt-BR'
        });
    });
</script>
		<!-- MODAIS -->	
				<!-- The Modal -->
				<div class="modal fade" id="loginModal">
				  <div class="modal-dialog">
				      <div class="modal-content">
				        <div class="modal-header">
				          
				          <h4 class="modal-title">Login</h4>
				          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				        </div>
				        <div class="modal-body">
				
				          <form th:action="@{/login}" method="POST" class="form-signin">
				      <h3 class="form-signin-heading" >Bem-vindo</h3>
				      <br/>
				       <label for="InputEmail">Email:</label>
				      <input type="text" id="email" name="email"  th:placeholder="Email"
				        class="form-control" /> <br/> 
				         <label for="Inputpassword">Senha:</label>
				      <input type="password"  th:placeholder="Password"
				        id="password" name="password" class="form-control" /> <br /> 
				        
				      <div align="center" th:if="${param.error}">
				        <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
				      </div>
				      <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login">Log-in</button>
				    </form>
				  
				     </div>
				    
				    <div class="modal-body">
				    <p class="text-right"><a  th:href="@{/registration}"  >Registre-se</a></p>
				    </div>
				        <div class="modal-footer">
				          <a href="#" data-dismiss="modal" class="btn">Close</a>
				        
				        </div>
				      </div>
				    </div>
				</div>
				
				  <!-- and modal-->
				
			


</body>
</html>